{% extends 'base.html' %}
{% load static %}



{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <h1>About Me</h1>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img class="photo" src="./Derrick&#39;sPortfolio_files/20958081" style="width:150px; height:150px; border-radius: 2%" alt="Placeholder">
          </div>
          <div class="col-md-9">
            
             <p style="font-family: &#39;Rammetto One&#39;, cursive;"><strong>Welcome to my portfolio. As a recent graduate from the U of M coding boot-camp I was able to grain the experience needed to create beautiful websites.</strong></p><strong><br>
            </strong><p style="font-family: &#39;Rammetto One&#39;, cursive;"><strong>Coming from a background in construction and machine operating to information technology and programming has been quite the turn around </strong></p>
         
            
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Links</h3>
          </div>
          <div class="panel-body">
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
     <li>
    <a class="nav-link active" href="file:///C:/Users/Ms.%20Guy/Desktop/UpdatedPortfolio/Portfolio.html#">Github <br> <img src="./Derrick&#39;sPortfolio_files/github.png" width="65px"></a>
  </li>
  <li>
    <a class="nav-link" href="file:///C:/Users/Ms.%20Guy/Desktop/UpdatedPortfolio/Portfolio.html#">LinkedIn <br><img src="./Derrick&#39;sPortfolio_files/linkedin.png" width="80px"></a>
  </li>
  <li>
    <a class="nav-link" href="https://twitter.com/guyderrick34?lang=en%20target_blank">Twitter <br><img src="./Derrick&#39;sPortfolio_files/oauth_application.png" width="73" height="73" class="app-icon"></a>
  </li>
        </ul>
      </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery CDN -->
  <script src="./Derrick&#39;sPortfolio_files/jquery.min.js.download"></script>

  <!-- Bootstrap JavaScript CDN -->
  <script src="./Derrick&#39;sPortfolio_files/bootstrap.min.js.download"></script>



</body></html>

{% endblock %}